/KnowledgeAccountingSystem.DAL/obj/Debug/netcoreapp3.1
/KnowledgeAccountingSystem.DAL/obj
/KnowledgeAccountingSystem.DAL/bin/Debug/netcoreapp3.1
/KnowledgeAccountingSystem.BLL/obj
/KnowledgeAccountingSystem.BLL/bin/Debug/netcoreapp3.1
/KnowledgeAccountingSystem/obj
/KnowledgeAccountingSystem/bin/Debug/netcoreapp3.1
/KnowledgeAccountingSystem/.vs/KnowledgeAccountingSystem
